<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eebbk.bfc.core.sdk.version">

    <!-- bfc-http需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
